.idea
vendor
runtime
web/db.php
composer.lock
uploads

App/Quiz/node_modules/**/*
App/Quiz/.expo/*
App/Quiz/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
App/Quiz/web-build/
App/Quiz/web-report/

# macOS
.DS_Store